spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/test
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
logging:
  level:
    root: info
    org.springframework.web: debug
    org.springframework.security: debug
    org.springdoc: debug

server:
  address: 0.0.0.0
  port: 8080