spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

server:
  address: 0.0.0.0
  port: 8080

management:
  server:
    port: 8081 # metric은 따로 관리
    address: 0.0.0.0
  endpoints:
    web:
      exposure:
        include: prometheus