spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/app
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
logging:
  level:
    root: info
    org.springframework.web: debug
    org.springframework.security: debug
    org.springdoc: debug

server:
  address: 0.0.0.0
  port: 8080

management:
  server:
    port: 8081 # metric은 따로 관리
    address: 0.0.0.0
  endpoints:
    web:
      exposure:
        include: prometheus