spring:
  application:
    name: jeonggiju
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  address: 0.0.0.0
  port: 8080

management:
  server:
    port: 8081 # metric은 따로 관리
    address: 0.0.0.0
  endpoints:
    web:
      exposure:
        include: prometheus

