name: Deploy To EC2

on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Repository 파일 불러오기
        uses: actions/checkout@v4

      - name: JDK 17버전 설치
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: env 주입 및 빌드
        env:
          SPRING_DATASOURCE_URL: ${{secrets.SPRING_DATASOURCE_URL}}
          SPRING_DATASOURCE_USERNAME: ${{secrets.SPRING_DATASOURCE_USERNAME}}
          SPRING_DATASOURCE_PASSWORD: ${{secrets.SPRING_DATASOURCE_PASSWORD}}
          JWT_ACCESS_KEY: ${{secrets.JWT_ACCESS_KEY}}
          JWT_REFRESH_KEY: ${{secrets.JWT_REFRESH_KEY}}
        run: ./gradlew clean build

